################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/ESP12E/src/my_settings.h
/src/TestApp/.vs/TestApp/FileContentIndex
/src/TestApp/TestApp/bin/Debug
/src/TestApp/TestApp/obj/Debug
/src/TestApp/.vs/TestApp/v17
/src/ESP12E/.vscode
